<div class="flex flex-col items-center justify-center h-screen bg-gray-100">
    <div class="text-center">
      <div class="bg-white p-8 rounded shadow-md w-72">
        <p id="textPlaceholder">{{ message }}</p>
      </div>
    </div>
    <div class="w-72" >
      <div class="mt-8 pl-4 pr-4">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          (click)="navigateToCards()"
        >
          Go to Cards
        </button>
      </div>
    </div>
</div>
